# Basics

Division

In [1]:
100/7

14.285714285714286

Quotient

In [2]:
100//7

14

Power or Exponent

In [3]:
5**3

125

Variables

In [5]:
cost=100
print(cost)

100

Print Function

In [7]:
print("The cost is:",cost)

The cost is: 100

Evaluation conditions
operators

In [10]:
number=1
number<=2

True

#### Logical operator
   and
   or 
   not

In [13]:
(2<3 and 4<=5) or not(number<2 and True)

True

# Python Variables and Datatypes

In [14]:
my_color= "blue"
my_color

'blue'

In [17]:
color1,color2,color3="red","blue","green"

In [18]:
color1

'red'

In [19]:
color2

'blue'

In [20]:
color3

'green'

In [21]:
color4=color5="navy blue"

In [22]:
color4

'navy blue'

In [23]:
color5

'navy blue'

In [24]:
color5="black"

In [25]:
color5

'black'

In [26]:
color4

'navy blue'

In [37]:
counter=1

In [28]:
counter

1

In [38]:
counter=counter+1
counter

2

In [39]:
num=1
type(num)

int

In [48]:
is_day=True

In [46]:
type(is_day)

bool

Variable multiplied to 10^x

In [52]:
thousand=2e3

In [53]:
thousand

2000.0

In [51]:
type(thousand)

float

In [54]:
point=1e-2

In [55]:
point

0.01

In [295]:
is_today_sunday=True

In [57]:
is_today_sunday=True

In [60]:
3+False

3

In [61]:
3+True

4

In [62]:
nothing=None

In [63]:
nothing

None type

In [64]:
type(nothing)

NoneType

# String

In [65]:
today="Saturday"

In [66]:
today

'Saturday'

In [67]:
type(today)

str

In [68]:
multi_line=""" this
is 
a 
multiline
string"""

In [69]:
multi_line

' this\nis \na \nmultiline\nstring'

multiline list

In [70]:
print(multi_line)

 this
is
a
multiline
string

length of the string

In [71]:
len(multi_line)

29

converting string to list

In [75]:
my_list=list(multi_line)

In [76]:
my_list

[' ',
 't',
 'h',
 'i',
 's',
 '\n',
 'i',
 's',
 ' ',
 '\n',
 'a',
 ' ',
 '\n',
 'm',
 'u',
 'l',
 't',
 'i',
 'l',
 'i',
 'n',
 'e',
 '\n',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

accessing the character at index

In [78]:
multi_line[1]

't'

accessing a range of characters
[start index ,end index)

In [79]:
multi_line[0:29]

' this\nis \na \nmultiline\nstring'

In [81]:
print(multi_line[0:20])

 this
is
a
multili

checking a string in string

In [82]:
"this" in multi_line

True

In [85]:
"multi" in multi_line

True

In [87]:
"are" in multi_line

False

Concatination

In [107]:
name="Swaraj Singh"
greeting="Hello "+name

In [92]:
greeting

'Hello Swaraj Singh'

In [93]:
print(greeting)

Hello Swaraj Singh

In [94]:
name.upper()

'SWARAJ SINGH'

In [120]:
name=name.lower()

In [115]:
today="saturday"

In [116]:
print(today)

saturday

In [117]:
today.replace("satur","wednes")

'wednesday'

In [122]:
name.replace("swaraj","swaraz")

'swaraz singh'

templates

In [150]:
output_template="My name is {} and I am {} years old."

In [151]:
output_message=output_template.format(name,21)

In [152]:
print(output_message)

My name is swaraj singh and I am 21 years old.

Concatination using str function

In [156]:
another_message="Today is "+ str(24) +" june"

In [157]:
print(another_message)

Today is 24 june

# Lists

In [171]:
fruits=["apple","oranges","pineapple","cherry","mango"]

In [172]:
fruits

['apple', 'oranges', 'pineapple', 'cherry', 'mango']

In [173]:
print(fruits)

['apple', 'oranges', 'pineapple', 'cherry', 'mango']

In [174]:
len(fruits)

5

last element

In [175]:
fruits[-1]

'mango'

accessing sub list from ranges

In [177]:
fruits[2:5]

['pineapple', 'cherry', 'mango']

modifying a list

In [178]:
fruits[2]="banana"

In [179]:
fruits

['apple', 'oranges', 'banana', 'cherry', 'mango']

deletion at index

In [180]:
fruits.pop(2)

'banana'

In [181]:
fruits

['apple', 'oranges', 'cherry', 'mango']

In [182]:
"oranges" in fruits

True

# Tuple

tuples are immutable

In [183]:
my_tuple=("guavas","pomegranate","peaches")

In [184]:
my_tuple

('guavas', 'pomegranate', 'peaches')

In [185]:
my_tuple[1]

'pomegranate'

In [187]:
my_tuple[-1]

'peaches'

# Dictionary

Key and value pair

In [188]:
person={
    "name":"Swaraj Singh",
    "age":21,
    "married":False
}

In [189]:
person["name"]

'Swaraj Singh'

In [190]:
person["age"]

21

In [193]:
type(person["married"])

bool

In [194]:
type(person)

dict

In [195]:
"address" in person

False

In [196]:
person["address"]="Kanpur"

In [197]:
person

{'name': 'Swaraj Singh', 'age': 21, 'married': False, 'address': 'Kanpur'}

In [199]:
print(person)

{'name': 'Swaraj Singh', 'age': 21, 'married': False, 'address': 'Kanpur'}

In [200]:
type(person["address"])

str

# Conditional Statements and Loops

In [207]:
num=32

In [208]:
if (num%2==0):
    print("we are in if block")
    print("The number {} is divisible by 2".format(num))

we are in if block
The number 32 is divisible by 2

#### Loops

In [231]:
i=1
while (i <= 100):
    i=i+1
print(i)

101

In [254]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
for x in days :
    print(x)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

looping in dictionaries

In [256]:
for key in person:
    print("key:",key,",","value:",person[key])

key: name , value: Swaraj Singh
key: age , value: 21
key: married , value: False
key: address , value: Kanpur

In [257]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [258]:
for i in range(3,6):
    print(i)

3
4
5

In [259]:
for i in range(3,36,4):
    print(i)

3
7
11
15
19
23
27
31
35

# Functions and scope

In [277]:
def say_hello():
    print("Hello! {} \nSo you are {} years old.".format(person["name"],person["age"]))

In [278]:
say_hello()

Hello! Swaraj Singh
So you are 21 years old.

In [4]:
def divide(x,y):
   """ This calculates the division of two numbers
   Arguments:
   x: Numerator
   y: Denominator
   """
   try:
       result=x/y
       print("executed!")
   except:
       print("zero division error!")
       result=2
   return result

In [5]:
divide(3,5)

executed!

0.6

In [6]:
z=divide(y=5,x=2)
print(z)

executed!
0.4

In [7]:
divide(2,0)

zero division error!

2

### Added the documentation in the divide function

In [8]:
help(divide)

Help on function divide in module __main__:

divide(x, y)
    This calculates the division of two numbers
    Arguments:
    x: Numerator
    y: Denominator