# Pandas Basics

In [10]:
%pip install pandas as pd

Requirement already satisfied: pandas in c:\users\123sw\anaconda3\lib\site-packages (1.5.3)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [2]:
import pandas as pd

In [3]:
covid_df=pd.read_csv('./covid_data/covid_19_clean_complete.csv')

In [4]:
covid_df

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
0,NaN,Afghanistan,33.939110,67.709953,22-01-2020,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,22-01-2020,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,22-01-2020,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,22-01-2020,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,22-01-2020,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,27-07-2020,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,27-07-2020,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,27-07-2020,505,12,128,365,Africa

### Basic Operations

In [5]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provience   14664 non-null  object
 1   country     49068 non-null  object
 2   lat         49068 non-null  float64
 3   long        49068 non-null  float64
 4   date        49068 non-null  object
 5   confirmed   49068 non-null  int64
 6   deaths      49068 non-null  int64
 7   recovered   49068 non-null  int64
 8   active      49068 non-null  int64
 9   who_region  49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [21]:
total_active_cases=covid_df.confirmed.sum()
total_deaths=covid_df.deaths.sum()

In [22]:
print('The total number of active case are {} and deaths are {}'.format(total_active_cases,total_deaths))

The total number of active case are 828508482 and deaths are 43384903

In [23]:
death_rate=total_deaths/total_active_cases

In [24]:
print('The death rate is {:.4f}'.format(death_rate))

The death rate is 0.0524

In [29]:
type(covid_df)

pandas.core.frame.DataFrame

In [30]:
type(covid_df.lat)

pandas.core.series.Series

### Querying and Sorting Rows

Checking the days when confirmed cases are greater than 1000

In [41]:
high_new_cases=covid_df.confirmed>1000

In [42]:
high_new_cases

0        False
1        False
2        False
3        False
4        False
         ...
49063    False
49064     True
49065    False
49066     True
49067    False
Name: confirmed, Length: 49068, dtype: bool

In [43]:
covid_df.confirmed[49064]

1691

Retaining the days when the confirmed covid cases are greater than 1000

In [44]:
covid_df[high_new_cases]

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
1105,Hubei,China,30.975600,112.270700,26-01-2020,1058,52,42,964,Western Pacific
1366,Hubei,China,30.975600,112.270700,27-01-2020,1423,76,45,1302,Western Pacific
1627,Hubei,China,30.975600,112.270700,28-01-2020,3554,125,80,3349,Western Pacific
1888,Hubei,China,30.975600,112.270700,29-01-2020,3554,125,88,3341,Western Pacific
2149,Hubei,China,30.975600,112.270700,30-01-2020,4903,162,90,4651,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49057,NaN,Sierra Leone,8.460555,-11.779889,27-07-2020,1783,66,1317,400,Africa
49058,NaN,Malawi,-13.254300,34.301500,27-07-2020,3664,99,1645,1920,Africa
49061,NaN,South Sudan,6.877000,31.307000,27-07-2020,2305,46,1175,1084,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe

Alternate syntax

In [45]:
high_new_cases=covid_df[covid_df.confirmed>1000]

In [46]:
high_new_cases

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
1105,Hubei,China,30.975600,112.270700,26-01-2020,1058,52,42,964,Western Pacific
1366,Hubei,China,30.975600,112.270700,27-01-2020,1423,76,45,1302,Western Pacific
1627,Hubei,China,30.975600,112.270700,28-01-2020,3554,125,80,3349,Western Pacific
1888,Hubei,China,30.975600,112.270700,29-01-2020,3554,125,88,3341,Western Pacific
2149,Hubei,China,30.975600,112.270700,30-01-2020,4903,162,90,4651,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49057,NaN,Sierra Leone,8.460555,-11.779889,27-07-2020,1783,66,1317,400,Africa
49058,NaN,Malawi,-13.254300,34.301500,27-07-2020,3664,99,1645,1920,Africa
49061,NaN,South Sudan,6.877000,31.307000,27-07-2020,2305,46,1175,1084,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe

In [53]:
from IPython.display import display
with pd.option_context('display.max_rows',100):
    display(covid_df[covid_df.confirmed>1000])

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
1105,Hubei,China,30.975600,112.270700,26-01-2020,1058,52,42,964,Western Pacific
1366,Hubei,China,30.975600,112.270700,27-01-2020,1423,76,45,1302,Western Pacific
1627,Hubei,China,30.975600,112.270700,28-01-2020,3554,125,80,3349,Western Pacific
1888,Hubei,China,30.975600,112.270700,29-01-2020,3554,125,88,3341,Western Pacific
2149,Hubei,China,30.975600,112.270700,30-01-2020,4903,162,90,4651,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49057,NaN,Sierra Leone,8.460555,-11.779889,27-07-2020,1783,66,1317,400,Africa
49058,NaN,Malawi,-13.254300,34.301500,27-07-2020,3664,99,1645,1920,Africa
49061,NaN,South Sudan,6.877000,31.307000,27-07-2020,2305,46,1175,1084,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe

In [57]:
death_rate

0.0523650680018023

In [58]:
high_death_rate=covid_df[covid_df.deaths/covid_df.confirmed>death_rate]

In [62]:
high_death_rate

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
318,Hebei,China,39.549000,116.130600,23-01-2020,1,1,0,0,Western Pacific
579,Hebei,China,39.549000,116.130600,24-01-2020,2,1,0,1,Western Pacific
580,Heilongjiang,China,47.862000,127.761500,24-01-2020,4,1,0,3,Western Pacific
840,Hebei,China,39.549000,116.130600,25-01-2020,8,1,0,7,Western Pacific
841,Heilongjiang,China,47.862000,127.761500,25-01-2020,9,1,0,8,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49028,NaN,United Kingdom,55.378100,-3.436000,27-07-2020,300111,45759,0,254352,Europe
49039,NaN,Syria,34.802075,38.996815,27-07-2020,674,40,0,634,Eastern Mediterranean
49053,British Virgin Islands,United Kingdom,18.420700,-64.640000,27-07-2020,8,1,7,0,Europe
49062,NaN,Western Sahara,24.215500,-12.885800,27-07-2020,10,1,8,1,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean

In [63]:
covid_df['death_rate']=covid_df.deaths/covid_df.confirmed

In [64]:
covid_df

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region,death_rate
0,NaN,Afghanistan,33.939110,67.709953,22-01-2020,0,0,0,0,Eastern Mediterranean,NaN
1,NaN,Albania,41.153300,20.168300,22-01-2020,0,0,0,0,Europe,NaN
2,NaN,Algeria,28.033900,1.659600,22-01-2020,0,0,0,0,Africa,NaN
3,NaN,Andorra,42.506300,1.521800,22-01-2020,0,0,0,0,Europe,NaN
4,NaN,Angola,-11.202700,17.873900,22-01-2020,0,0,0,0,Africa,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,27-07-2020,865,14,734,117,Africa,0.016185
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean,0.285630
49065,NaN,Comoros,-11.645500,43.333300,27-07-2020,354,7,328,19,Africa,0.019774
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe,0.008293
49067,NaN,Lesotho,-29.610000,28.233600,27-07-2020,505,12,128,365,Africa,0.023762

In [65]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provience   14664 non-null  object
 1   country     49068 non-null  object
 2   lat         49068 non-null  float64
 3   long        49068 non-null  float64
 4   date        49068 non-null  object
 5   confirmed   49068 non-null  int64
 6   deaths      49068 non-null  int64
 7   recovered   49068 non-null  int64
 8   active      49068 non-null  int64
 9   who_region  49068 non-null  object
 10  death_rate  39009 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 4.1+ MB

In [66]:
covid_df.drop(columns=['death_rate'],inplace=True)

In [67]:
covid_df

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
0,NaN,Afghanistan,33.939110,67.709953,22-01-2020,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,22-01-2020,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,22-01-2020,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,22-01-2020,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,22-01-2020,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,27-07-2020,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,27-07-2020,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,27-07-2020,505,12,128,365,Africa

In [68]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provience   14664 non-null  object
 1   country     49068 non-null  object
 2   lat         49068 non-null  float64
 3   long        49068 non-null  float64
 4   date        49068 non-null  object
 5   confirmed   49068 non-null  int64
 6   deaths      49068 non-null  int64
 7   recovered   49068 non-null  int64
 8   active      49068 non-null  int64
 9   who_region  49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

### Sorting rows using Columns

we can also pass list of columns in place of 'confirmed' and list of ascending bool values

In [76]:
covid_df.sort_values('confirmed',ascending=False).head(10)

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
49030,NaN,US,40.0,-100.0,27-07-2020,4290259,148011,1325804,2816444,Americas
48769,NaN,US,40.0,-100.0,26-07-2020,4233923,146935,1297863,2789125,Americas
48508,NaN,US,40.0,-100.0,25-07-2020,4178970,146465,1279414,2753091,Americas
48247,NaN,US,40.0,-100.0,24-07-2020,4112531,145560,1261624,2705347,Americas
47986,NaN,US,40.0,-100.0,23-07-2020,4038816,144430,1233269,2661117,Americas
47725,NaN,US,40.0,-100.0,22-07-2020,3970121,143316,1210849,2615956,Americas
47464,NaN,US,40.0,-100.0,21-07-2020,3899211,142121,1182018,2575072,Americas
47203,NaN,US,40.0,-100.0,20-07-2020,3834677,141025,1160087,2533565,Americas
46942,NaN,US,40.0,-100.0,19-07-2020,3773260,140534,1131121,2501605,Americas
46681,NaN,US,40.0,-100.0,18-07-2020,3711413,140119,1122720,2448574,Americas

In [80]:
covid_df.sort_values('deaths',ascending=False).head(10)

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
49030,NaN,US,40.0,-100.0,27-07-2020,4290259,148011,1325804,2816444,Americas
48769,NaN,US,40.0,-100.0,26-07-2020,4233923,146935,1297863,2789125,Americas
48508,NaN,US,40.0,-100.0,25-07-2020,4178970,146465,1279414,2753091,Americas
48247,NaN,US,40.0,-100.0,24-07-2020,4112531,145560,1261624,2705347,Americas
47986,NaN,US,40.0,-100.0,23-07-2020,4038816,144430,1233269,2661117,Americas
47725,NaN,US,40.0,-100.0,22-07-2020,3970121,143316,1210849,2615956,Americas
47464,NaN,US,40.0,-100.0,21-07-2020,3899211,142121,1182018,2575072,Americas
47203,NaN,US,40.0,-100.0,20-07-2020,3834677,141025,1160087,2533565,Americas
46942,NaN,US,40.0,-100.0,19-07-2020,3773260,140534,1131121,2501605,Americas
46681,NaN,US,40.0,-100.0,18-07-2020,3711413,140119,1122720,2448574,Americas

In [82]:
covid_df.sort_values(['confirmed'],ascending=True).head(5)

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
0,NaN,Afghanistan,33.93911,67.709953,22-01-2020,0,0,0,0,Eastern Mediterranean
8074,NaN,Burma,21.91620,95.956000,21-02-2020,0,0,0,0,South-East Asia
8075,Anguilla,United Kingdom,18.22060,-63.068600,21-02-2020,0,0,0,0,Europe
8076,British Virgin Islands,United Kingdom,18.42070,-64.640000,21-02-2020,0,0,0,0,Europe
8077,Turks and Caicos Islands,United Kingdom,21.69400,-71.797900,21-02-2020,0,0,0,0,Europe

syntax to print range of rows

In [83]:
covid_df.loc[8070:8080]

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
8070,NaN,Saint Kitts and Nevis,17.357822,-62.782998,21-02-2020,0,0,0,0,Americas
8071,Northwest Territories,Canada,64.825500,-124.845700,21-02-2020,0,0,0,0,Americas
8072,Yukon,Canada,64.282300,-135.000000,21-02-2020,0,0,0,0,Americas
8073,NaN,Kosovo,42.602636,20.902977,21-02-2020,0,0,0,0,Europe
8074,NaN,Burma,21.916200,95.956000,21-02-2020,0,0,0,0,South-East Asia
8075,Anguilla,United Kingdom,18.220600,-63.068600,21-02-2020,0,0,0,0,Europe
8076,British Virgin Islands,United Kingdom,18.420700,-64.640000,21-02-2020,0,0,0,0,Europe
8077,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,21-02-2020,0,0,0,0,Europe
8078,NaN,Botswana,-22.328500,24.684900,21-02-2020,0,0,0,0,Africa
8079,NaN,Burundi,-3.373100,29.918900,21-02-2020,0,0,0,0,Africa
8080,NaN,Sierra Leone,8.460555,-11.779889,21-02-2020,0,0,0,0,Africa

## Working With Dates

In [84]:
covid_df.date

0        22-01-2020
1        22-01-2020
2        22-01-2020
3        22-01-2020
4        22-01-2020
            ...
49063    27-07-2020
49064    27-07-2020
49065    27-07-2020
49066    27-07-2020
49067    27-07-2020
Name: date, Length: 49068, dtype: object

In [85]:
covid_df['date']=pd.to_datetime(covid_df.date)

C:\Users\123sw\AppData\Local\Temp\ipykernel_4308\156113874.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  covid_df['date']=pd.to_datetime(covid_df.date)

In [86]:
covid_df.date

0       2020-01-22
1       2020-01-22
2       2020-01-22
3       2020-01-22
4       2020-01-22
           ...
49063   2020-07-27
49064   2020-07-27
49065   2020-07-27
49066   2020-07-27
49067   2020-07-27
Name: date, Length: 49068, dtype: datetime64[ns]

In [87]:
covid_df['year']=pd.DatetimeIndex(covid_df.date).year
covid_df['month']=pd.DatetimeIndex(covid_df.date).month
covid_df['day']=pd.DatetimeIndex(covid_df.date).day
covid_df['weekday']=pd.DatetimeIndex(covid_df.date).weekday

In [89]:
covid_df.head(10)

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region,year,month,day,weekday
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22,2
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe,2020,1,22,2
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa,2020,1,22,2
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe,2020,1,22,2
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa,2020,1,22,2
5,NaN,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,0,Americas,2020,1,22,2
6,NaN,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,0,Americas,2020,1,22,2
7,NaN,Armenia,40.06910,45.038200,2020-01-22,0,0,0,0,Europe,2020,1,22,2
8,Australian Capital Territory,Australia,-35.47350,149.012400,2020-01-22,0,0,0,0,Western Pacific,2020,1,22,2
9,New South Wales,Australia,-33.86880,151.209300,2020-01-22,0,0,0,0,Western Pacific,2020,1,22,2

In [90]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provience   14664 non-null  object
 1   country     49068 non-null  object
 2   lat         49068 non-null  float64
 3   long        49068 non-null  float64
 4   date        49068 non-null  datetime64[ns]
 5   confirmed   49068 non-null  int64
 6   deaths      49068 non-null  int64
 7   recovered   49068 non-null  int64
 8   active      49068 non-null  int64
 9   who_region  49068 non-null  object
 10  year        49068 non-null  int64
 11  month       49068 non-null  int64
 12  day         49068 non-null  int64
 13  weekday     49068 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(3)
memory usage: 5.2+ MB