In [10]:
%pip install pandas as pd

Requirement already satisfied: pandas in c:\users\123sw\anaconda3\lib\site-packages (1.5.3)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [11]:
import pandas as pd

In [12]:
covid_df=pd.read_csv('./covid_data/covid_19_clean_complete.csv')

In [13]:
covid_df

,provience,country,lat,long,date,confirmed,deaths,recovered,active,who_region
0,NaN,Afghanistan,33.939110,67.709953,22-01-2020,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,22-01-2020,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,22-01-2020,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,22-01-2020,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,22-01-2020,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,27-07-2020,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,27-07-2020,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,27-07-2020,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,27-07-2020,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,27-07-2020,505,12,128,365,Africa

In [14]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provience   14664 non-null  object
 1   country     49068 non-null  object
 2   lat         49068 non-null  float64
 3   long        49068 non-null  float64
 4   date        49068 non-null  object
 5   confirmed   49068 non-null  int64
 6   deaths      49068 non-null  int64
 7   recovered   49068 non-null  int64
 8   active      49068 non-null  int64
 9   who_region  49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [16]:
total_active_cases=covid_df.active.sum()
total_active_cases

396715350